* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
}

.cabeca {
    background: rgb(124, 124, 124);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin: 50px;
}